.file
  display: flex
  row-gap: 8px
  flex-direction: column
  align-items: center
  justify-content: center

  flex-grow: 1
  min-height: 140px
  height: 140px

  text-align: center
  background: #F7F7F7
  border: 2px dashed #EDEDED

  font-family: Open Sans
  line-height: 100% 
  text-align: center
  font-style: normal
  font-weight: 600
  cursor: pointer
  transition: 0.3s all ease-in
  &:hover
    border: 2px dashed #727272af
  .notEmpty
    flex-grow: 0

  &__drag
    border: 2px dashed #727272af
  &__title  
    font-size: 15px
    color: #000000
  &__btn 
    font-size: 14px 
    color: #0096E6
  input
    display: none
