*
  box-sizing: border-box
  margin: 0
  padding: 0
  text-rendering: optimizeLegibility
  font-smooth: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  font-family: 'Open Sans', sans-serif
  
.container
  width: 920px
  display: flex

.wrapper
  display: flex
  width: 100%
  background: white
  border-radius: 4px
  height: 610px
  overflow: hidden




  
   


  