.upload
  display: flex
  background: url('./assets/bg-pattern.jpg') repeat
  background-size: 300px 
  width: 100vw
  height: 100vh
  min-height: 720px
  align-items: center
  justify-content: center
  
.heroImg
  width: calc( 50% + 15px  )
  background: url('./assets/formBg.jpg') center center/cover no-repeat